.search-position {
    position: absolute;
    left: 160px;

}

.search-part-style {
    box-shadow: 2px 4px 4px 4px rgb(214, 212, 212);
    /* background-color: rgb(255, 255, 255); */
}

.image-textposition {
    position: absolute;
    top: 100px;
}

.shadow {
    box-shadow: 2px 4px 4px 4px rgb(214, 212, 212);
}

.search-position {
    position: absolute;
    left: 120px
}

.search-position1 {
    position: absolute;
    left: 160px
}

/* .search-border:hover,
.search-border:focus,
.search-border:active {
    border: 1px solid red;
    outline: 0px;
}

input.border-0.rounded-pill.p-1 {
    outline: 0px;
} */

.font-size {
    font-size: 20px;
}

.font {
    font-size: 22px;
}

.position1 {
    position: absolute;
    left: 120px;
    bottom: 25px
}

.modal1 {
    position: absolute;
    /* right: 80%; */
    left: 67%;
    top: 400px;
    width: 250px;
}

.text-position {
    position: absolute;
    top: 0px;
    right: 10px
}

.text-position1 {
    position: absolute;
    top: 53px;
    left: 0px;
    width: 53px
}

.otp-input {
    height: 70px;
    width: 70px;
    box-shadow: 1px 1px 1px 1px #888888;
}

.otp-alignment {
    display: flex;
    justify-content: center;
    align-items: center;
}

.decoration {
    text-decoration: none;
}

.position2 {
    position: absolute;
    /* left: 120px; */
    bottom: 3px;
    right: 180px
}

.background-Imagecolor {
    background-color: rgb(215, 205, 205);

}

.image-border {
    border-style: dotted
}

.loginmodalDetail {
    position: absolute;
    right: 0px;
    /* left: 1100px; */
    top: 50px;
}

.decoration-text {
    text-decoration: none;
    color: #000;
}

.decoration {
    text-decoration: none;
    list-style: none;
}
.container-color{
    background-color: rgb(189, 185, 185);
}